/*
 * SPDX-FileCopyrightText: 2024 xuMingHai <173535609@qq.com>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#about-view {
    -fx-alignment: center;
}

#header-h-box {
    -fx-padding: 0 0 0 140;
    -fx-spacing: 45;
    -fx-alignment: center-left;
}

#about-grid-pane {
    -fx-alignment: center;
    -fx-hgap: 35;
    -fx-vgap: 20;
}

#copyright-h-box {
    -fx-alignment: center;
}

#home-link {
    -fx-text-fill: -color-accent-6;
    -fx-underline: false;
}

#home-link:hover {
    -fx-text-fill: -color-success-3;
}
