#about-view {
    -fx-padding: 100;
}

#top-title-h-box {
    -fx-spacing: 60;
    -fx-alignment: center;
}

#about-grid-pane {
    -fx-alignment: center;
    -fx-hgap: 30;
    -fx-vgap: 10;
}

#copyright-h-box {
    -fx-alignment: center;
}

#home-link {
    -fx-text-fill: -color-accent-6;
    -fx-underline: false;
}

#home-link:hover {
    -fx-text-fill: -color-success-3;
}
