#left-view {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -color-base-2;
    -fx-background-color: -color-base-0;
}

#app-title-h-box {
    -fx-spacing: 3;
    -fx-alignment: center;
}

#toggle-button-v-box {
    -fx-spacing: 25;
    -fx-alignment: top-center;
}

#toggle-button-v-box > .toggle-button {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

#toggle-button-v-box > .toggle-button:selected {
    -fx-background-color: -color-base-2;
}

#toggle-button-v-box > .toggle-button:hover {
    -fx-background-color: -color-base-2;
}

#version-link {
    -fx-text-fill: -color-fg-default;
    -fx-underline: false;
}

#version-link:hover {
    -fx-text-fill: -color-accent-7;
}